<launch>
  <group ns="robot_$(arg robot_number)">
    <param name="tf_prefix" value="robot_$(arg robot_number)" />

	<node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      		<param name="controller_frequency" value="10.0" />
      		<remap from="map" to="/map"/>
      		<rosparam file="$(find mrw_robot_agent)/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      		<rosparam file="$(find mrw_robot_agent)/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      		<rosparam file="$(find mrw_robot_agent)/move_base_config/local_costmap_params.yaml" command="load" />
      		<rosparam file="$(find mrw_robot_agent)/move_base_config/global_costmap_params.yaml" command="load" />
      		<rosparam file="$(find mrw_robot_agent)/move_base_config/base_local_planner_params.yaml" command="load" />
    	</node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mrw_robot_agent)/config/rviz-config-ejercicio1.vcg"/>
  </group>
</launch>

