<launch>
	<include file="$(find rtcus_erratic_slam)/launch/distributed_node_architecture.xml"/>
	<include file="$(find rtcus_erratic_slam)/launch/erratic_hardware.xml"/>
	
	<include file="$(find rtcus_erratic_slam)/launch/navigation.xml"/>
	<include file="$(find rtcus_erratic_slam)/launch/slam_without_exploring.xml"/>
	<include file="$(find rtcus_erratic_slam)/launch/monitor_erratic_state.xml"/>
	<include file="$(find rtcus_erratic_slam)/launch/explore.xml"/>
</launch>
